*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.app{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background: #478aef;
    color: #121315;
}